* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    display: grid;
    font-size: 16px;
    width: 1000px;
}

header, main, footer {
    max-width: 1000px;
    margin: auto;
}

header {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: #eee;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    width: 600px;
    border-radius: 10px;
}

header img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

header h1 {
    padding: 50px;
    text-align: center;
}

h2 {
    padding: 10px;
}

footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: #eee;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 600px;
    border-radius: 10px;
}

footer h3 {
    font-size: 1rem;
    text-align: center;
}

footer h4 {
    font-size: .8rem;
    text-align: center;
    color: black;
}


