:root {
    --color1: #FFFFFF;
    --color2: #002244;
    --color3: #f46a1f;
}

@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@300&display=swap');

body {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    font-family: 'Anek Gujarati', sans-serif;
    font-size: .9rem;
    max-width: 100%;
    background-color: var(--color1);
}

header,
footer {
    grid-column: 2;
    background-color: var(--color2);
    color: white;
}

.footer-text {
    padding: 1.2rem;
}

main {
    grid-column: 2;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;

}

.design1 {
    margin-top: .5rem;
    margin-bottom:.5rem;
    background-color: var(--color3);
    border: 1px solid var(--color2);
    border-radius: 1em;
    
}

.design2 {
    margin-top: .5rem;
    margin-bottom:.5rem;
    background-color: var(--color3);
    border: 1px solid var(--color2);
    border-radius: 1em;
}

.design3 {
    margin-top: .5rem;
    margin-bottom:.5rem;
    background-color: var(--color3);
    border: 1px solid var(--color2);
    border-radius: 1em;
}

h1 {
    padding-top: 4%;
    text-align: center;
}

header h2 {
    text-align: center;
    padding-bottom: 3%;
}

p {
    font-size: .9rem;
    text-align: justify;
    margin: 1rem;
    margin-top: .8rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    color: white;
    font-weight: bold;
}

footer p {
    text-align: center;
    padding: 10px;
}

img {
    width: 20rem;
    display: flex;
    margin: .8rem;
    border-radius: 1rem;
}