@media only screen and (min-width: 64rem) {
    nav {
        flex-direction: row-reverse;
    }

    nav ul {
        width: 80%;
    }
    
    .nava {
        display: flex;
    }

    .nava li {
        display: block;
        flex: 1 1 auto;
    }

    .nava a {
        text-align: center;
    }

    .nava li:first-child {
        display: none;
    }
    
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }



}