@media only screen and (min-width: 35rem) {
    .content {
        grid-template-columns: 1fr 1fr;
      }
      .content section:nth-child(5) {
        grid-column: span 2;
      }

    .footer-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        padding: 0 0 0 50px;
    }
    
    .date {
        padding: 0 0 10px 50px;
    }

}