@media only screen and (min-width: 64rem) {
    .x-wing {
        width: 70%;
        animation-duration: 1.5s;
    }

    .x1 {
        left: 18vw;
        grid-column: 1;
        animation-delay: 0.3s;
    }
    
    .x2 {
        grid-column: 2;
    }
    
    .x3 {
        right: 18vw;
        grid-column: 3;
        animation-delay: 0.3s;
    }
}