@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Gentium+Basic:ital@0;1&family=Lato:wght@300&display=swap');

html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

:root {
    --color1: #1D3555;
    --color2: #C5F1FF ;
    --color3: #545353 ;
    --color4: #FFFFFF ;
    --color5: #F89E3E ;
    --color6: #000000;
    --color7: #777;
    --color8: #0a0a0a;
    --color9: #161616;
    --font1: 'Cinzel', sans-serif;
    --font2: 'Gentium Basic', sans-serif;
    --font3: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

h2 {
    font-family: var(--font2);
}

/* BODY */

body {
    display: grid;
}

body a, p {
    font-family: var(--font3);
}

/* HEADER */

/* .alert {
    display: grid;
        position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    background: var(--color3);
    z-index: 100;
    padding: 1rem;
    color: var(--color6);
}

.alertBlur {    
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000000;
    filter: opacity(50%);
    z-index: 200;
} */


header {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50px 1fr 2fr;
    grid-template-rows: 60px;
    align-items: center;
    z-index: 10;
    background: var(--color9);
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.top-padding {
    padding-top: 50px;
}

/* HEADER LOGO */

header img{
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    z-index: 1;
}

/* MENU BUTTON */

.menu-btn {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 10;
    grid-column: 1;
    grid-row: 1;
    place-self: center;
}

.menu-btn__burger {
    width: 25px;
    height: 3px;
    background: var(--color5);
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--color5);
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-8px);
}

.menu-btn__burger::after {
    transform: translateY(8px);
}

/* BUTTON ANIMATION */

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* NAVIGATION */

nav {
    z-index: 100;
    position: fixed;
    background-color: var(--color4);
    width: 280px;
    padding: 20px 0 81px;
    top: 60px;
    left: -280px;
    color: var(--color6);
    height: 100%;
    transition: all .3s ease-in-out;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    display: block;
    color: var(--color6);
    padding: 11px 56px 11px 20px;
    text-decoration: none;
}

.active {
    color: var(--color4);
    background-color: var(--color5);
}

/* NAVIGATION ANIMATION */

.slideHorizontal {
    transform: translateX(280px);
    transition: all .4s ease-in-out;
}

/* BLUR */

.blurDiv {
    display: none;
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
}

.blur {
    display: block;
    background-color: #000000;
    filter: opacity(60%);
    z-index: 10;
}

/* MAIN */

main {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
}

/* CONTENT */

.content {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
}


/* HERO */

.hero {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;  
    justify-items: center;  
    color: var(--color4);
    text-align: center;
}

.hero img {
    width: 100%;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 0;
    filter: brightness(80%);
}

.hero h1 {
    grid-row: 1;
    grid-column: 1/-1;
    z-index: 1;
    align-self: end;
}

.hero p {
    grid-row: 2;
    grid-column: 1/-1;
    z-index: 1;
    padding: 0 30px 0 30px;
}

.hero button {
    grid-row: 3;
    grid-column: 1/-1;
    z-index: 1;
    padding: 8px 16px 8px 16px;
    align-self: start;
    background: var(--color4);
    border: none;
    border-radius: 5px;
}

.hero a {
    font-family: var(--font3);
    font-weight: bold;
    text-decoration: none;
    color: var(--color5);
}

.hero button:hover {
    background: var(--color9);
    cursor: pointer;
}

/* SPOTLIGHT TEMPLE */

.spotlight-temple {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    text-align: center;    
    margin: 1rem;
    padding: .5rem;
    gap: 1rem;
}

.spotlight-temple h2 {
    grid-column: 1/3;
}

.spotlight-temple em {
    font-size: 1rem;
}

.spotlight-temple img{
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    border-radius: 5px;
    filter: brightness(80%);
    align-self: center;
}

.spotlight-temple p {
    grid-column: 2;
    grid-row: 2;
}

/* HR */

.hr1 {
    grid-row: 3;
    grid-column: 1;
    width: 80%;
    place-self: center;
    color: var(--color9);
}

/* SPOTLIGHT WEATHER */

.spotlight-weather {
    grid-column: 1;
    grid-row: 4;
    display: grid;
    text-align: center;
    margin: 1rem;
    padding: .5rem;
    gap: 1rem;
}

.spotlight-weather h2 {
    grid-column: 1/-1;
    grid-row: 1;
}

.weather-section {
    display: grid;
    grid-template-columns: 30% 15% 15% 20% 20%;
    text-transform: capitalize;
    place-items: center;
}

.weather-section img {
    grid-column: 2;
    grid-row: 1;
    width: 90%;
    justify-self: right;
}

.weather-section p {
    padding: .1rem;
    grid-row: 1;
}

/* temp */
.weather-section p:nth-child(2) {
    grid-column: 3;
    font-size: .9rem;    
}

/* condition */
.weather-section p:nth-child(3) {
    grid-column: 5;
    font-size: .7rem;
}

/* humidity */
.weather-section p:nth-child(4) {
    grid-column: 4;
    font-size: .8rem;
}

/* date */
.weather-section p:nth-child(5) {
    grid-column: 1;
    font-size: .8rem;
    font-style: italic;
}

/* CONTACTS */

.contacts {
    grid-column: 1;
    grid-row: 5;
    color: var(--color7);
    display: grid;
    row-gap: .5rem;
    align-items: center;
    background: var(--color9);
    padding: 1rem;
}

.contacts a {
    color: var(--color5);    
    font-size: .9rem;
}

.contacts h4 {
    font-family: var(--font3);
    color: var(--color4);
}

.contacts img {
    width: 15px;
    margin-right: .5rem;
}

.contacts p {
    font-size: .9rem;
}

/* FOOTER */

footer {
    grid-column: 1;
    grid-row: 4;
    background: var(--color8);
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 15px;
    color: var(--color7);
}

footer img {
    width: 1rem;
    margin: 10px 5px 0 5px;
}