@media screen and (min-width:481px) and (max-width: 760px) {
    /* All Medium*/

    body {
        padding: .5em;
    }

    header{
        padding: .6em;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav ul{
        font-size: .7em;
        display: flex;
        justify-content: space-between;
    }

    nav ul li{
        flex-grow: 1;
        margin: 0;
        padding: .2em 0;
    }

    .pers {
        display: block;
    }

    .pers div {
        max-width: 100%;
        margin-bottom: .5em;
    }
}